# Utils

> Utils function used in the environment.

In [ ]:
#| default_exp utils

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import os
import numpy as np
import pandas as pd
import toml

In [ ]:
#| export
def read_toml(  config_file= "../data/Config.toml" # Path to the config file
):
    print(config_file)
    "Read setting file. The File containes the relative path to source and target."
    config= toml.load(config_file)
    return config

In [ ]:
#| export
# Here an example on how to structure a config.toml file.
config  = read_toml()
config

../data/Config.toml

{'source': {'path': '../data/source',
  'filename_mesh': 'humerus_sx.key',
  'filename_landmarks': 'landmarks_source.fcsv'},
 'target': {'path': '../data/target',
  'filename_landmarks': 'landmarks_target.fcsv'}}

In [ ]:
#| export
def _merge_path(path1:str , path2: str)-> str:
    "Join one or more path components. Return the join path in str type."
    return os.path.join(path1,path2)

In [ ]:
# #| export
# _merge_path(config['source']['path'],config['source']['filename_mesh'])

In [ ]:
#| export
def multiple_targets():
    "This function checks if the there are multiple target subject."
    config = read_toml()
    path= config['target']['path']
    filename = config['target']['filename_landmarks']
    list_target= [name for name in os.listdir(path) if os.path.isdir(os.path.join(path, name))]
    if not list_target:
        assert os.path.isfile(_merge_path(path, filename)), "No file with Landmarks"
        return False
    else:
        return list_target

In [ ]:
# #| export
# multiple_targets()

In [ ]:
#| export
def read_k_file(path_to_file: str # File to read from 
                 )-> pd.DataFrame: # Dataframe of shape [n_nodes, [ID,x,y,z]]
    "This function read *NODES from .k/.key file."
    id_list = []
    node_coords = []
    find_nodes = False
    
    #assert os.path.exists(path_to_file), "Wrong path. Path not existent. Check the name/extension of the file."
    
    with open(path_to_file, 'r') as fp:
        for _, line in enumerate(fp):
            if line.startswith('*NODE'):
                find_nodes = True
                continue
            if find_nodes and line.startswith('*'):
                break
            if find_nodes:
                node_id = int(line[:8]) 
                node_x = float(line[8:24])
                node_y = float(line[24:40])
                node_z = float(line[40:56])
                id_list.append(node_id)
                node_coords.append([node_x, node_y, node_z])   
                 
    assert node_coords, "Nodes have NOT been read."
    
    df = pd.concat([pd.DataFrame(id_list), pd.DataFrame(node_coords)],axis=1)
    df.columns = ['Label - node id','x','y','z']
    return df

In [ ]:
# #| export
# read_k_file(_merge_path(config['source']['path'],config['source']['filename_mesh']))

In [ ]:
#| export
def read_csv_file(path_to_file: str)-> pd.DataFrame:
    "This function read csv files in format id, x, y,z. to Pandas DataFrame"
    with open(path_to_file) as fp:
            df = pd.read_csv(fp, header=None, comment='#')
            df= df.iloc[:,:4]
            df.columns = ['Label - node id','x','y','z']
    return df

In [ ]:
#| export
df = read_csv_file(_merge_path(config['source']['path'],config['source']['filename_landmarks']))
df

    Label - node id           x           y           z
0                 0 -183.063339  134.525345  388.490692
1                 1 -161.198669  143.211426  373.034149
2                 2 -146.246490  150.397263  350.175262
3                 3 -132.589066  156.544540  325.771271
4                 4 -118.436974  161.047623  302.355225
5                 5 -103.345276  166.406738  278.470612
6                 6  -88.987976  173.114761  255.046127
7                 7  -73.376801  179.190704  232.277298
8                 8  -59.285698  180.420685  207.781021
9                 9  -49.864941  174.740372  182.173218
10                0 -196.109680  158.476120  418.060211
11                1 -198.575562  129.761978  413.685455
12                2 -183.115112  134.563202  388.454803
13                3  -38.141056  219.317352  203.018692
14                4  -49.761246  174.918976  182.130051
15                5  -45.960217  203.909760  198.603622
16                6  -50.489746  182.394638  190.756973
17                7  -50.811413  191.934509  206.576553
18                8  -38.430172  195.502472  192.668137
19                9  -39.941483  191.168091  203.233536
20               10  -22.009460  211.400162  196.772934
21               11  -28.033169  183.564102  184.333405
22               12 -170.192474  137.637894  421.941833
23               13 -178.412476  162.096909  420.528473
24               14  -23.150154  205.784958  210.083405
25               15  -25.684111  178.497208  198.658081
26               16  -23.167177  180.045654  188.504517
27                0 -196.088989  158.191330  418.754700
28                1 -173.022919  164.690948  394.418671
29                2 -155.614975  166.817551  368.083008
30                3 -136.747101  174.549362  341.798431
31                4 -115.413116  178.098587  317.800598
32                5 -106.632225  183.140839  285.029694
33                6  -92.477821  191.201340  258.167786
34                7  -72.195961  199.634216  234.161057
35                8  -48.006847  205.804291  214.735291
36                9  -21.177794  211.376068  196.868439

In [ ]:
#| export
def from_df_to_np(df: pd.DataFrame)->np.ndarray:
    "This function transform a pd.Dataframe of shape [ID, x,y,z] to numpy array of coordinates [x,y,z]"
    if len(df.columns) == 4:
        return df.iloc[:,1:4].values
    
    elif len(df.columns) == 3:
        return df.values
    else:
        raise Exception("Invalid number of column in the Dataframe. Expected either 3 or 4 columns. ")

In [ ]:
# #| export
# from_df_to_np(df) #return np.array

array([[ 100.00190735,  110.13912964, -100.98062134]])

In [ ]:
#| export
def to_ls_dyna(number):
    return '{:16f}'.format(number)

In [ ]:
#| export
to_ls_dyna(6.8)

'        6.800000'

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()